.idea
.ipynb_checkpoints
._*
_build
_static
_templates
build
bin
output
bms-dot-*.png
Untitled*.ipynb
*-old
*.c
*.bz2
*.dot
*.DS_Store
*.gz
*.hdf5
*.npy
*.out
*.pdf
*.pickle
*.pyc
*.so
*.sqlite
*.zip
